* {
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  @extend %bgColor;
  @extend %fontColor;
  margin-bottom: 0;
  font-size: 13px;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: hsla(0, 0, 50, .1);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0, 60, .4);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background-color: hsla(0, 0, 50, .1);
  }
}

a {
  @extend %linkColor;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

// Vueを適用する要素につける
[v-cloak] {
	display: none;
}

// util
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}

pre, code {
  font-family: Menlo, Consolas, monospace;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list > li {
  &:not(:last-child) {
    margin-bottom: .5em;
  }
}

dialog {
  @extend %fontColor;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 20px 5px hsla(0, 0, 50, .75);

  &,
  &::backdrop {
    @extend %bgColor;
    opacity: 0;
    transition: opacity .1s;
  }

  &.fade {
    opacity: 1;
    &::backdrop {
      opacity: .85;
    }
  }
}
.dialog-footer {
  margin-top: 1em;
  text-align: right;
}

.is-processing {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: blink .4s ease-out infinite alternate;
    cursor: wait;
  }

  @keyframes blink {
    0% {
      background-color: hsla(0, 0, 50, 0);
    }

    100% {
      background-color: hsla(0, 0, 50, .15);
    }
  }
}
