.repos-table {
  $padding: 4px 8px;

  width: 100%;
  border-collapse: collapse;
  line-height: 1.1;

  > thead {
    white-space: nowrap;
  }

  > tbody tr {
    vertical-align: top;
  }

  th, td {
    @extend %borderColor;
    border-style: solid;
    border-width: 1px 0;
    padding: 0;
  }

  th {
    padding: $padding;
    font-weight: 500;
  }

  .cell {
    padding: $padding;
    margin: 0;
    overflow-y: auto;
    box-sizing: border-box;
    min-height: 4em;
  }

  @for $i from 1 through 20 {
    [data-rows="#{$i}"] .cell { height: calc(((100vh - 54px) / #{$i}) - 1px); }
  }
}

.changes {
  display: inline-block;
  margin-bottom: 0;
}

.local-branch-list,
.tracking-branch-list {
  word-break: break-word;
}

.local-branch-list > li {
  &.is-current {
    @extend %fontColor-deep;
    font-weight: 500;
    text-decoration: underline;
  }
  &:not(.is-current) {
    cursor: pointer;
  }
  &:hover {
    @extend %fontColor-deep;
  }
}

.fetch-log {
  min-width: 12em;
}